/* connectings fonts */
@font-face {
    font-family: 'CeraPro-Regular';
    src: url('/design/images/fotns/CeraPro_v2/CeraPro-Regular.ttf') format('ttf'),
         url('/design/images/fotns/CeraPro_v2/CeraPro-Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'CeraPro-Medium';
    src: url('/design/images/fotns/CeraPro_v2/CeraPro-Medium.ttf') format('ttf'),
         url('/design/images/fotns/CeraPro_v2/CeraPro-Medium.woff2') format('woff2');
}

:root {
    --content-width: 1530px;
    /* colors */
    --main-green: #1E3932;
    --dark-green: #002021;
    --dropdown-color: #012122;
    --select-bg: #2A403A;
    --dark-green-gradient: linear-gradient(53deg, #001518 8.49%, #002526 98.95%);
    --cream-gold: #EABC6F;
    --category-card-bg: linear-gradient(90deg, rgba(0, 0, 0, 0.50) 0%, 
                                               rgba(0, 0, 0, 0.30) 50.11%), 
                                               #1E3932;
    --gold-gradient-bg: linear-gradient(90deg, #87552E 0%, 
                                               #CC9949 17.19%, 
                                               #F4E0A3 38.57%, 
                                               #F4E0A3 64.02%, 
                                               #CC9949 86.84%, 
                                               #8C5B30 100%), 
                                               #D9D9D9;                                               
    --top-section-bg: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, 
                                              rgba(0, 0, 0, 0.40) 100%), 
                                              rgba(0, 0, 0, 0.10);
    --card-main-bg: linear-gradient(0deg, #182E28 0%,#182E28 100%), rgba(0, 0, 0, 0.20);
    --header-border-color: rgba(234, 188, 111, 0.80);

    --product-card-border-radius: .875rem .875rem 12.5rem 12.5rem;
    --opacity-transition: opacity .2s ease-in-out;
    --button-width_min: 18.75rem;
    --gap-big: 2.5rem;
}

/* base styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'CeraPro-Regular', sans-serif;
    background-color: var(--main-green);
    color: #fff;
}
.no-scrolling {
    max-height: 100vh;
    overflow-y: hidden;
    position: fixed;
    width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
}
button {
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: inherit;
    user-select: none;
}
button * {
    pointer-events: none;
}
ul {
    padding: initial;
    margin: initial;
    list-style-type: none;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
h1,h2,h3,h4,h5,h6 {
    margin: inherit;
}
:is(svg, svg > *) {
    pointer-events: none;
}
.section__header {
    color: #fff;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: normal;
    margin: initial;
    position: relative;
    border-bottom: none; 
    max-width: 100%;
}
.section__header_clear {
    text-align: center;
}
.section__header_link {
    color: inherit;
    text-decoration: none;
}
@media screen and (max-width: 449px) {
    .section__header {
        font-size: 1.5rem;
        padding-left: .625rem;
    }
}
.section__content {
    max-width: 95.625rem;
    margin-inline: auto;
}
.section__content_empty {
    padding-block: 5rem;
}
@media screen and (max-width: 97.625rem) {
    .section__content {
        max-width: 100%;
        padding-inline: 1rem;
    }    
}
/* buttons */
.button__empty {
    padding: .72rem 2.72rem;
    color: #fff;
    border: 2px solid rgba(255, 255, 255, 0.40);
    border-radius: .75rem;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    min-width: var(--button-width_min);
    transition: color .2s linear;
    text-decoration: none;
    text-align: center;
}
.button__empty:hover {
    border-color: rgba(255,255,255,1);
    transition: color .2s linear;
}

.button__filled_gold {
    font-family: 'CeraPro-Medium', sans-serif;
    border-radius: 0.75rem;
    background-color: var(--cream-gold);
    color: var(--select-bg);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 91.2%;
    min-width: var(--button-width_min);
    width: 100%;
    padding-block: 1.09rem;
    text-decoration: none;
}
.button__filled_gold:hover {
    background-color: #FFC563;
    transition: background-color .3s linear;
}
.button__filled_gold:is(:disabled, [disabled="disabled"]) {
    background-color: #D9D9D9;
    opacity: .4;
    cursor: not-allowed;
}
.button__filtration {
    font-family: 'CeraPro-Medium', sans-serif;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: normal;
    display: flex;
    min-width: var(--button-width_min);
    padding-block: .5rem;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
}
.button__filtration_empty {
    color: rgba(255, 255, 255, .4);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.10);
}
.button__filtration_empty:hover {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(255, 255, 255, 0.20);
    border: 2px solid rgba(255, 255, 255, 0.20);
    transition: background-color .3s linear;
}
.button__filtration_empty:is(:active, .active) {
    color: rgba(255, 255, 255, .9);
    background-color: rgba(255, 255, 255, 0.20);
    border: 2px solid rgba(255, 255, 255, 0.60);
}

.button__filtration_filled {
    opacity: .3;
    background-color: rgba(255, 255, 255, 0.80);
    color: rgba(0,0,0,.8);
}
.button__filtration_filled.active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.90);
    color: rgba(0,0,0,.8);
    transition: opacity .3s linear,
                background-color .3s linear;
}
@media screen and (max-width: 449px) {
    .button__filled_gold {
        min-width: 15rem;
    }
}
/* buttons */
/* base styles */